<style>

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 320px;
  padding: 10px;
}

.column_insert {
  height: 300px;
  width: 300px;
  background-color: lightblue;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>
