<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 320px;
  padding: 10px;
}

.column_insert {
  height: 280px;
  width: 280px;
  background-color: lightblue;
  padding: 10px;
  
  margin-bottom: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-size: 12px;
}

</style>
