
/*
BARS
*/

#bar-cake {
    background: url("../../design/images/photography/cake.JPG") no-repeat center center;
    background-size: cover;
    height: 100vh;

    color: white;
    text-align: center;

    font-family: 'MuseoModerno';

    padding: 25px;
}


/* MAIN PAGE */
.resumecontainer {
    margin: auto;
    padding: 1px 10px;
    margin-bottom: 10px;
    background-color: #98D2EB;
    border-radius: 5px;
  
}

.portrait {
    width: 250px;
    border-radius: 10px;
}

#title {
    font-size: 60px;
}

#subtitle {
    font-size: 30px;
}