
/*
BARS
*/

#bar-lemon {
    background: url("../../design/images/photography/REPLACEME_lemon.jpg") no-repeat center center;
    background-size: cover;
}


#filtered-recipes-container {
    height: 0px;
    background-color: black;
}