/*
palatte

99cfc1 - lb
74a57f - dg
9ece9a - lg
e4c5af - p
216869 - db

*/

.sams-container {
    background-color: #000000;
    opacity: 0.7;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.itineraryContainer {
    margin-top: 10px;
}

.resultsContainer {
    margin-top: 10px;
    border: 5px solid black;
}

.sams-information {
    color: #585858;
    font-size: 12px;
}
.sams-secondary-reason {
    color: #585858;
    font-size: 12px;
    margin-bottom: -10px;
}
.sams-title {
}
.sams-input {
}

.sams-input-dropdown {
    background-color: #def7f0;
    border-color: black;
    padding: 10px;
}
.sams-adjectives:hover {
    cursor: pointer;
}
.sams-adjectives-container-col {
    height: 150px;
    text-align: center left;
    
    margin-bottom: 5px;

    background-color: #f7dbc7;

    border-radius: 25px;
    border-color: black;

}
.adjectivesContainer{

}

.sams-synonyms {
    margin: 10px;
}
.sams-adjectives-active {
    background-color: #e4c5af;
}

.sams-button {
    background-color: #216869;
    border: none;
}
.sams-button:hover {
    background-color: #99cfc1;
    cursor: pointer;
}

.sams-activity-div {
    width: 100%;
}

.sams-photoalbum {
    background-color: #216869;
    width: 150px; 
    height: 150px;
    background-size: cover;
    background-position: 50% 50%;

}

.sams-info {
    margin-top: 5px;
}

.sams-links-activities {
    color: black;
}
.sams-links-activities:hover {
    color: black;
}
.sams-links-container {
    text-align: center;
}
.sams-links {
    width: 50px; 
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: .8;
}
.sams-links:hover {
    cursor: pointer;
}

.sams-icons {
    width: 30px; 
    height: 30px;
}









