.sams-footer {
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  margin-top: 10px;
}
.sams-header {
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  margin-bottom: 10px;
}
.sams-jumbo {
  background: url("../images/moraine-lake-canada.jpg") no-repeat center center;
  background-size: cover;

  width: 100%;
  height: 100%;
  background-color: #99cfc1;

  color: white;
  font-family: Verdana, monospace;
  margin-bottom: 0px;
}
.header {
  margin: auto;
  width: 75%;
  text-align: center;
  font-family: Courier, serif;
}

.header2 {
  margin: auto;
  width: 75%;
  text-align: center;
  font-family: Courier, serif;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hasLink {
  cursor: pointer;
}

p {
  text-align: justify;
}




