/*
NAV BARS
*/
.right-navbar-container {
    height: 100vh;
    vertical-align: center;
}

.stick {
    position: fixed;
    top: 0;
}

.right-navbar {
    background-color: white;
    width: 120px;
    margin-left: 10px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.right-navbar-button {
    height: 50px;
    line-height: 50px;
    
    color:black;
    text-align: center;
}

.right-navbar-button:hover {
    color: white;
}



/*
BARS
*/
.bar {
    width: 100%;

    padding: 25px;
    padding-left: 150px;

    margin: 0;
    color: white;
}

.bar-autosize {
    height: 100%;

    background-color: #f8f8ff;
    color: black;
}

.bar-header {
    background-color: #F3E9E2;
    color: black;
    text-align: center;
}

.column-container {
    width: 100hh;
}

.column-c {
    width: 32%;
    padding: 10px;
    text-align: center;
}


@media only screen and (max-width: 800px) {
    .column-c {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}

.bar-topshadow {
    box-shadow: 0 -4px 2px -2px gray;
}

.bar-bottomshadow {
    box-shadow: 0 4px 2px -2px gray;
}

.box-container {
    text-align: center;
}

.box {
    width: 500px;

    box-shadow: 0 3px 2px -2px gray;
    margin: auto;
    margin-top: 10px;
    padding: 10px;

    color: black;
}

.small_box {
    height: 100px;
    width: 350px;

    box-shadow: 0 3px 2px -2px gray;
    margin: auto;
    margin-top: 10px;

    color: black;
}

.button_box {
    height: 50px;
    width: 100px;

    border: 1px black;

    margin: auto;
    margin-top: 10px;

    color: black;

}

.accent-back {
    background-color: #46799E;
}

/*
COLUMNS
*/
.rightcolumn {
    margin-left: 10px;
}

/* 
IMAGE LINKS TO SOCIAL MEDIA
*/
.link-container {
    text-align: center;
}

.logo {
    width: 100px; 
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;

}

.img-link {
    width: 50px; 
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: .8;
    color:black;
    text-align: center;
}

.text-link {
    width: 50px; 
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: .8;
    color:black;
    text-align: center;
}


/* 
IMAGES
*/


/* 
LINKS
*/
.haslink:hover {
    cursor: pointer;
}

/*
TEXT
*/
.whitea {
    color: white;
}

.blacka {
    color: black;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

body, a {

    font-family: Verdana, monospace;
}

hr {
    border: 1px solid white;
    border-radius: 5px;
    width: 75%;
}